.statistics {
  margin: 10px auto;
  width: 600px;
  background-color: rgb(223, 223, 223);
  padding: 80px 0;
}

.title {
  margin: auto;
  padding: 30px 0;
  width: 400px;
  background-color: white;
  text-align: center;
}

.statList {
  display: flex;
  width: 400px;
  height: 60px;
  margin: auto;
  padding: 0;
  list-style: none;
  background-color: rgb(202, 201, 202);
}

.item {
  width: 133px;
  height: 60px;
  padding-top: 13px;
  text-align: center;

  border-right: 2px solid black;
}

.item:last-child {
  border-right: none;
}

.label {
  display: block;
}
